//colores
$pigmetRed: #ed1d24;
$font-color: #464147;
$background-white: white;

//fuentes de letras
$font-roboto-bold: "Roboto-Bold";
$font-roboto-regular: "Roboto-Regular";

//box shadow
$box-shadow-img: -1px 4px 6px 2px rgba(0, 0, 0, 0.192);
