<div class="card">
  <div
    class="cards-content"
    *ngFor="let character of this.charactersData"
  >
    <img
      width="100%"
      height="100%"
      style="border-radius: 8px"
      [src]="character.imgUrl"
      alt=""
    />
    <div class="cards-content__info">
      <p>
        {{ character.name.split('(')[0] }}
      </p>

      <div class="button-content">
        <button
          *ngFor="let button of this.buttonsOption"
          (click)="this.actionButton(character, button.type)"
        >
          <i
            [class]="button.icon"
            [style.color]="button.color"
            style="font-size: 24px"
            aria-hidden="true"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
