@import "../../styles/index.scss";

.page-characters {
  @include box-styles(auto, calc(100vh - 80px), 0 10px);
  @include grid-layaout(1fr 3fr, null, 12px);

  > section {
    background-color: rgb(241, 241, 241);
    border-radius: 4px;
    @extend .overflow-y;
  }
}

.favorite-header {
  height: 40px;
  background: url(../../../assets/imgs/marvel.png) no-repeat;
  background-position: center center;
  opacity: 0.8;
  display: flex;
  position: sticky;
  background-size: cover;
  top: 0;
  z-index: 1000;
  h1 {
    margin: auto;
    color: #ffffff;
    font-family: $font-roboto-regular;
    font-weight: 900;
  }
}
